body {
    margin: 0;
    height: 100vh;
    font-family: "Cinzel", serif;
}


.warning-page {
    background-color: black;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}


.warning-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.warning-container h2 {
    font-size: 32px;
    letter-spacing: 5px;
    margin-bottom: 50px;
}


.ominous-button {

    width: 180px;
    height: 180px;

    border-radius: 50%;

    background-color: #8b0000;

    color: white;

    border: 3px solid #b30000;

    font-family: "Cinzel", serif;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;

    box-shadow: 
        0 0 20px red;

    transition: transform 0.2s;
}


.ominous-button:active {

    transform: scale(0.9);

}

.reveal-page {

    background-color: black;

    color: white;

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    text-align: center;

}


.reveal-container {

    width: 90%;

}


.reveal-container h1 {

    font-size: 32px;

    margin-bottom: 30px;

}


.dad-photo {

    width: 90%;

    max-width: 400px;

    border-radius: 15px;

    margin-top: 20px;

}


.hidden-button {

    display: none;

}


.show-button {

    display: inline-block;

    margin-top: 30px;

    background-color: #8b0000;

    color: white;

    border: none;

    border-radius: 25px;

    padding: 15px 25px;

    font-family: "Cinzel", serif;

}

.confetti-piece {

    position: fixed;

    top: -10px;

    width: 10px;

    height: 20px;

    opacity: 0.9;

    animation: fall 3s linear forwards;

}


@keyframes fall {

    from {

        transform: translateY(0) rotate(0deg);

    }

    to {

        transform: translateY(110vh) rotate(720deg);

    }

}